$headerHeight: 60px;

.header-placeholder {
  display: none;
}
header.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  height: $headerHeight;
  width: 100%;
  z-index: 10;
  &::before, &::after {
    display: none;
  }
  .site-title {
    margin: 0;
  }
  #header-content {
    display: flex;
    justify-content: space-between;
  }
}
.logged-in {
  header.site-header {
    top: 32px;
  }
}
#content {
  width: 100%;
  margin: 0 auto;
  .content-section{
    width: calc(100% - 2em);
    margin: 0 auto;
  }
}
.menu-toggle {
  width: 2em;
  height: 1.5em;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 11;
  .menu-toggle-item {
    background-color: black;
    width: 100%;
    height: 3px;
    &::before, &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      background-color: black;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
}
#navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  pointer-events: none;
  #navigation-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .main-navigation {
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    @include transformify(transform, translateY(-100%));
    @include transformify(transition, transform .3s linear);

    .nav-brush {
      height: 100%;
      width: auto;
      left: 15%;
      position: absolute;
      img {
        height: 100%;
        width: auto;
      }
    }
    .menu {
      height: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        padding: 1em .5em;
        a {
          color: black;
        }
        &.highlighted {
          font-weight: 700;
          a {
            position: relative;
          }
          a:after {
            content: '';
            position: absolute;
            bottom: 4px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: black;
          }
        }
      }
    }
  }
  .apply-violator {
    flex-shrink: 0;
    padding-top: 2em;
    padding-bottom: 5rem;
    @include transformify(transform, translateY(100%));
    @include transformify(transition, transform .3s linear);
    .apply-link {
      margin-top: .5em;
    }
  }
}

body.menu-active {
  #navigation-container {
    pointer-events: auto;
    .apply-violator, .main-navigation {
      @include transformify(transform, translateY(0));
    }
  }
  .menu-toggle {
    position: fixed;
    top: 18px;
    left: 1rem;
  }
}

#social-icons {
  margin-top: 1em;
  .social-icon {
    height: 17px;
    width: auto;
    padding: 0 3px;
    position: relative;
    display: inline-block;
    svg {
      height: 100%;
      width: auto;
      fill: black;
      opacity: .5;
    }
    &:hover svg {
      @include transformify(transition, all .2s linear);
      @include transformify(transform, scale(1.1));
      opacity: .9;
    }
  }
}
.header-brush-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9;
}
.header-brush {
  position: absolute;
  top: 60px;
  left: -35%;
  width: 150%;
  max-width: 1800px;
  @include transformify(transform, rotate(-15deg));
  height: auto;
  img {
    width: 100%;
    height: auto;
  }
}
.grey-header {
	color: rgb(150,150,150);
  padding-top: .5em;
  font-size: 1.3em;
  border-top: 1px solid rgb(220,220,220);
  &.no-border {
    border-top:none;
    margin-top: 0;
  }
}
.link-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.basic-copy {
  a {
    color: rgb(100,100,100);
    position: relative;
    &:not(.nar-underline):hover {
      color: black;
      text-decoration: underline;
    }
  }
}
.nar-underline {
  font-family: $libre;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 7px;
    background-image:url('../images/underline.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  &.black {
    color: black;
  }
  &.grey-text {
    color: rgb(100,100,100);
    font-weight:600;
  }
}
.dark-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
}

/*--------------------------------*\
  Apply Violator
\*--------------------------------*/

.apply-violator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 2em;
  position: relative;
  .apply-violator-copy {
    position: relative;
    z-index: 1;
    font-size: 1.2em;
    font-weight: 100;
  }
  .apply-violator-copy {
    position: relative;
    color: white;
  }
  .apply-link {
    position: relative;
    margin-top: 1em;
    display: block;
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    font-family: $libre;
    white-space: nowrap;
  }
}


.corner-image-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  padding-top: .3em;
  flex-shrink: 0;
  background-color: white;
  .corner-box {
    background-color: rgb(180,180,180);
    width: calc(100% / 3 - .2em);
    position: relative;
    &.hidden {
      display: none;
    }
    .corner-box-content {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
    }
    .corner-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
#home-hero {
  position: relative;
  background-color: rgb(200,200,200);
  #home-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
  }
  .corner-image {
    opacity: 0;
  }
  #home-hero-container {
    padding: 2em;
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    #hero-logo {
      width: 160px;
      height: auto;
      opacity: 0;
      @include transformify(transition, all .5s ease-out);
      @include transformify(transform, translateY(40px));
      @include transformify(transition-delay, .3s);
    }
    h1 {
      font-size: 2em;
      margin: 0;
      color: white;
      text-shadow: 2px 2px 0px rgba(0,0,0,.8);
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgba(0,0,0,.2);
      opacity: 0;
      @include transformify(transition, all .5s ease-out);
      @include transformify(transform, translateY(20px));
      @include transformify(transition-delay, .6s);

    }
  }
  &.loaded {
    .corner-image {
      @include transformify(transition, opacity .5s linear);
      opacity: 1;
    }
    #home-hero-container {
      @include transformify(transition, opacity .5s linear);
      opacity: 1;
      h1, #hero-logo {
        opacity: 1;
        @include transformify(transform, translateY(0));
      }
    }
  }
}

#home-about {
  display: flex;
  flex-direction: column-reverse;

  #home-about-container {
    padding-top: 1em;
  }
}

/*--------------------------------*\
  FAQs
\*--------------------------------*/

.faq-section {
  margin-top: 1em!important;
  padding: 1em 0 2em;
  border-top: 1px solid rgba(0,0,0,.2);
  h1 {
    font-size: 1.2em;
  }
  .faq-container {
    margin: 3em 0;
  }
  .faq-row {
    padding: 0 0 1em;
    .faq-item {
      position: relative;
      padding-left: 2em;
      p {
        margin-bottom: .5em;
      }
      &::before {
        position: absolute;
        left: 0;
        top: -3px;
        font-size: 1.3em;
      }
    }
    .faq-question {
      font-weight: bold;
      &::before {
        content:'Q';
      }
    }
    .faq-answer {
      color: rgb(50,50,50);
      &::before {
        content: 'A';
      }
    }
  }
  .see-more-faqs {
    float: right;
    &::before {
      content: 'see more';
    }
  }
  .more-faqs {
    max-height: 0;
    overflow: hidden;
    @include transformify(transition, all .6s linear);
  }
  &.show-all-faqs {
    .see-more-faqs {
      &::before {
        content: 'see less';
      }
    }
  }
}

/*--------------------------------*\
  Artists
\*--------------------------------*/

#artists-block {
  padding: 2em 0 3em;
  border-bottom:  1px solid rgb(220,220,220);
}
#recent-artists {
  margin-top: 2em;
  padding-bottom: 2.5em;
  margin-bottom: 2em;
  position: relative;
  .recent-artist{
    padding: .2em;
  }
  .recent-artist-image {
    background-color: #fcf5e3;
  }
  .recent-artist-wrapper{
    position: relative;
  }
  .see-more-artists {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.2em;
  }
  .see-more-artists::before {
    content: 'see all past artists';
  }
  &.show-all-artists {
    .see-more-artists::before {
      content: 'see less artists';
    }
  }
  .recent-artist-info {
    .artist-info {
      h4 {
        margin: .2em 0;
        font-size: .9em;
      }
      p {
        margin: .4em 0 0 0;
        text-transform: uppercase;
        font-weight: 100;
        font-size: .7em;
        letter-spacing: .2em;
      }
    }
  }
}
#recent-artists-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3em!important;
  .recent-artist {
    width: 50%;
    padding: .2em;
    margin-bottom: 1em;
    .artist-info {
      h4 {
        margin: 0;
        a:hover {
          text-decoration: underline;
        }
      }
      p {
        margin: .4em 0 0 0;
        text-transform: uppercase;
        font-weight: 100;
        font-size: .7em;
        letter-spacing: .2em;
      }
    }
  }
}
.nar-date-grey {
  color: rgb(150,150,150);
  font-size: .9em;
  text-transform: uppercase;
  font-family: "proxima-nova", sans-serif, Arial;
}
.artist-image-container {
  width: 60%;
  position: relative;
  margin: 2em auto;
  border-radius: 50%;
  overflow: hidden;
  .artist-image-sizer {
    padding-bottom: 100%;
    height: 0;
    width: 100%;
  }
  .artist-image {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
}
.see-more-artists::before {
  content: 'see more'
}
.more-artists {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  @include transformify(transition, all .3s linear);
}
.single-artist {
  #artists-block {
    padding-top: 1em;
  }
  .artist-image-container {
    width: 80%;
  }
  .recent-artist-image {
    width: 80%;
    border-radius: 50%;
    margin: 0 auto;
  }
  #recent-artists {
    .recent-artist {
      margin-bottom: 1em;
      width: calc(100% / 3);
      &:nth-child(4), &:nth-child(5), &:nth-child(6) {
        display: none;
      }
      .recent-artist-info {
        text-align: center;
        background-color: transparent;
        height: auto;
        position: relative;
        opacity: 1;
        .artist-info {
          position: relative;
          color: black;
          h4 {
            margin-top: .5em;
          }
          h4, p {
            opacity: 1;
          }
        }
      }
    }
  }
}

#recent-artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .recent-artist {
    width: 50%;
    position: relative;
    padding: .3em;
    margin-bottom: 1em;
  }
}
.more-artists-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/*--------------------------------*\
  Gray Cottage
\*--------------------------------*/

.image-gallery-container {
  width: 100%;
  position: relative;
  .image-gallery {
    width: 100%;
  }
  .gallery-arrows {
    position: absolute;
    bottom: 1em;
    right: 1.5em;
    display: flex;
    .slick-arrow {
      cursor: pointer;
      @include transformify(transition, all .2s linear);
      opacity: .8;
      &:hover {
        opacity: 1;
        @include transformify(transform, scale(1.1));
      }
    }
    i {
      border: solid white;
      border-width: 0 4px 4px 0;
      display: inline-block;
      padding: 8px;
      width: 20px;
      height: 20px;
      margin: 0 5px;
    }
    .gallery-arrow-right i{
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    .gallery-arrow-left i{
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
  }
}
#gray-cottage {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  border-top: 1px solid rgba(0,0,0,.2);
  .image-gallery {
    width: 100%;
    .gallery-image-wrapper {
      position: relative;
    }
    .gallery-image-container {
      width: 100%;
      height: 0;
      padding-bottom: 80%;
      position: relative;
      .gallery-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
  #gray-cottage-container {
    width: 100%;

  }
  .slick-dots {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    li {
      display: inline-block;
      button {
        font-size: 0;
        padding: 5px 2px;
        margin: 0 2px 0 0;
        border: 0;
        background-color: transparent;
        // background-color: transparent;
        // width: 15px;
        // height: 15px;
        // border: 0;
        // outline: 0;
        // border-radius: 0;
        // position: relative;
        // -webkit-appearance: none;
        &::before {
          content: '•';
          font-size: 2rem;
          color: rgba(0,0,0,.4);
          // position: absolute;
          // display: flex;
          // justify-content: center;
          // align-items: center;
        }
        &:focus {
          outline: none;
        }
      }
      &.slick-active {
        button::before {
          color: rgba(0,0,0,.9);
        }
      }
    }
  }
}

/*--------------------------------*\
  Contact
\*--------------------------------*/

#contact-form-container {
  padding-bottom: 2em;
}
#contact-map-container {
  width: 100%;
  position: relative;
  #contact-map {
    width: 100%;
    height: 0;
    padding-bottom: 40%;
    #map-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

#contact-info {
  display: flex;
  padding: 1.5em 0;
  margin-right: 1.5em;
  h2 {
    margin: 0 0 .2em;
  }
  p {
    margin: 0;
    padding: 0;
    font-size: .8em;
    line-height: 1.3em;
  }
  #info-location {
    white-space: nowrap;
  }
}

.caldera-grid {
  .form-control {
    background-color: #f2f2f2!important;
    outline: none!important;
    border: none!important;
    box-shadow: none!important;
  }
  .row {
    margin: 0!important;
  }
  .submit-form {
    text-align: right;
  }
  input[type="submit"] {
    background-color: #949494!important;
    border: none!important;
    color: white;
    &:hover {
      background-color: #767676!important;
      color: white!important;
    }
  }
}

/*--------------------------------*\
  Apply Page
\*--------------------------------*/

.page-template-apply-template {
  .grey-header {
    border-top: none;
  }
}

.caldera-grid {
  input:not(.btn) {
    color: black!important;
  }
  #fld_6104867Label + div,
  #fld_6390343Label + div,
  #fld_7931963Label + div{
    //display: inline-block!important;
  }
  .cf-uploader-trigger {
    border-radius: 3px!important;
    color: white!important;
    width: auto!important;
    display: inline-block!important;
    background-color: #949494 !important;
  }
  .apply-checkboxes {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    label {
      padding-left: 30px!important;
    }
    input {
      position: absolute;
      opacity: 1;
      color: black!important;
      cursor: pointer;
      //: -10px;
      padding-right: 30px!important;
      margin-left: -33px!important;
      &:checked::after {
        background-image: url('../images/checked.png');
        background-size: 80%;
        background-position: center center;
        background-repeat: no-repeat;
      }
      &::after {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
      }
    }
    .checkbox-inline {
      display: block;
      margin: 4px 2.5em 5px 0;
      //left: 15px!important;
    }
    .checkbox-inline+.checkbox-inline {
      margin-left: 0;
      margin: 4px 2.5em 5px 0;
      //left: 15px!important;
    }
  }
}

/*--------------------------------*\
  Site Footer
\*--------------------------------*/

.site-footer {
  background-color: rgb(61,61,61);
  color: white;
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2em 1em 2em;
    font-family: $libre;
  }
  .footer-content-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  a {
    color: white;
  }
  .footer-logo {
    width: 35%;
    max-width: 200px;
    height: auto;
    margin: 0;
    img {
      width: 100%;
      height: auto;
    }
  }
  .footer-apply {
    a {
      font-weight: 900;
    }
    p {
      margin-top: 1.5em;
    }
  }
  .site-info {
    color: rgb(150,150,150);
    p {
      margin: 0;
      font-size: .9em;
    }
    a {
      color: rgb(150,150,150);
    }
  }
}


@media only screen and (min-width: 43em) {

  .anchor-tag {
    position: relative;
  }
  /*--------------------------------*\
    Header > 43em
  \*--------------------------------*/

  .header-placeholder {
    display: block;
    position: fixed;
    width: 100%;
    height: $headerHeight;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 8;
  }
  header.site-header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    .menu-toggle {
      display: none;
    }

    #navigation-container {
      position: relative;
      width: 100%;
      height: auto;
      display: block;
      background-color: transparent;
      pointer-events: auto;
      #navigation-content {
        height: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      #site-navigation {
        display: block;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
      }
      .menu-second-menu-container {
        margin-left: 3em;
        display: inline-block;
      }
      .menu-menu-1-container {
        display: inline-block;
      }
      .main-navigation {
        height: 100%;
        background-color: transparent;
        @include transformify(transform, translateY(0));
        .nav-brush {
          display: none;
        }
        .menu {
          height: auto;
          background-color: transparent;
          display: block;
        }
        ul {
          display: inline-block;
          li {
            padding: 0 .7em;
          }
        }
      }
      .apply-violator {
        display: none;
      }
    }
  }
  body.menu-active {
    #navigation-container {

    }
  }
  #social-icons {
    margin-top: 0;
  }
  .header-brush-container {
    height: 100vh;
    .header-brush {
      width: 125%;
      top: -5%;
      left: -25%;
      @include transformify(transform, rotate(-11deg));
    }
  }
  .content-inner {
    width: 90%!important;
    margin: 0 auto;
    max-width: 75em;
    position: relative;
  }

  #content {
    padding-top: $headerHeight;

  }
  .smaller-inner {
    width: 90%!important;
    margin: 0 auto;
  }

  /*--------------------------------*\
    Corner Boxes > 43em
  \*--------------------------------*/

  .corner-image-boxes {
    width: 45%;
    max-width: 450px;
    flex-wrap: wrap;
    margin-top: 0;
    position: absolute;
    background-color: transparent;
    .corner-box {
      width: 50%;
      outline: 6px solid white;
      &.hidden {
        display: block;
        background-color: transparent;
        outline: none;
      }
    }
  }

  /*--------------------------------*\
    Home hero > 43em
  \*--------------------------------*/

  #home-hero {
    position: relative;
    .corner-image-boxes {
      right: 0;
      bottom: 0;
    }
    #home-hero-container {
      height: calc(100vh - #{$headerHeight});
      display: block;
      padding: 3em 3em 3em 5em;
      #hero-logo {
        margin-top: 1em;
        width: 200px;
      }
      h1 {
        font-size: 3em;
        line-height: 1.3em;
      }
      .hero-copy-container {
        max-width: 60%;
      }
    }
  }

  /*--------------------------------*\
    Home About > 43em
  \*--------------------------------*/

  #home-about {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding-bottom: 4em;
    .corner-image-boxes {
      position: relative;
      top:6px;
      .corner-box.hidden {
        display: block;
        outline: 6px solid white;
      }
    }
    #home-about-container {
      padding: 3em 6em;
    }
  }

  /*--------------------------------*\
    Home FAQ > 43em
  \*--------------------------------*/

  #content .faq-section {
    width: 70%;
    padding: 2em 0;
    border-top: none;
    .faq-row {
      padding: 0 1em 1em;
      .faq-item {
        padding-left: 3em;
      }
    }
  }

  /*--------------------------------*\
    Apply > 43em
  \*--------------------------------*/

  .apply-violator {
    padding: 6em 3em;
    text-align: left;
    .apply-violator-content {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .apply-link {
        margin: 0;
      }
    }
  }

  /*--------------------------------*\
    Home Artists > 43em
  \*--------------------------------*/

  .artist-content {
    display: flex;
    align-items: center;
    justify-content: center;
    .artist-image-container {
      width: 30%;
      max-width: 300px;
      flex-shrink: 0;
      margin: 2em 0;
    }
    .artist-description {
      padding-left: 3em;
      max-width: 44em;
    }

  }
  #recent-artists {
    justify-content: flex-start;
    .recent-artist {
      width: calc(100% / 3);
      margin: 0;
      .recent-artist-info {
        //opacity: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+68,000000+100&0+11,0+11,0.43+44,0.78+63,1+100 */
        background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 11%, rgba(0,0,0,0.43) 44%, rgba(0,0,0,0.78) 63%, rgba(0,0,0,0.81) 68%, rgba(0,0,0,1) 100%);
        background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 11%, rgba(0,0,0,0.43) 44%, rgba(0,0,0,0.78) 63%, rgba(0,0,0,0.81) 68%, rgba(0,0,0,1) 100%);
        background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 11%, rgba(0,0,0,0.43) 44%, rgba(0,0,0,0.78) 63%, rgba(0,0,0,0.81) 68%, rgba(0,0,0,1) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
        background-color: transparent!important;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: rgba(0,0,0,.6);
        .artist-info {
          position: relative!important;
          padding: 2em 1em .5em 1em;
        }
        h4 {
          //opacity: 0;
          font-size: 1.1em;
          // @include transformify(transform, translateY(8px));
          // @include transformify(transition, all .2s linear);
          // @include transformify(transition-delay, .15s);
        }
        p {
          //opacity: 0;
          // @include transformify(transform, translateY(8px));
          // @include transformify(transition, all .2s linear);
          // @include transformify(transition-delay, .3s);
        }
        h4, p {
          a {
            color: white;
          }
        }
        .artist-info {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: white;
          h4 {
            font-size: 1.2em;
          }
        }
      }
      &:hover {
        .recent-artist-info {
          @include transformify(transition, opacity .1s linear);
          opacity: 1;
          h4 {
            opacity: 1;
            @include transformify(transform, translateY(0));
          }
          p {
            opacity: 1;
            @include transformify(transform, translateY(0));
          }
        }
      }
    }
  }

  #recent-artists-list {
    .recent-artist {
      width: calc(100% / 3);
    }
  }

  .single-artist {
    .artist-content {
      align-items: flex-start;
    }
    #recent-artists {
      .recent-artist-info {
        background: none;
        .artist-info {
          padding-top: .5em;
        }
        h4, p {
          a {
            color: black;
          }
        }
      }
      .recent-artist {
        width: 25%;
        &:nth-child(4) {
          display: block;
        }
      }
    }
  }

  /*--------------------------------*\
    Home Grays > 43em
  \*--------------------------------*/

  #gray-cottage {
    flex-direction: row;
    .image-gallery-container {
      width: 48%;
    }
    #gray-cottage-container {
      width: 52%;
      padding-left: 2em;
    }
  }

  /*--------------------------------*\
    Contact > 43em
  \*--------------------------------*/

  #contact-info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 2em;
    #contact-map-container {
      width: 40%;
      max-width: 250px;
      #contact-map {
        padding-bottom: 100%;
      }
    }
    #contact-info {
      width: 100%;
      display: flex;
      padding: 0 0 2em 3em;
      #info-contact, #info-calendar {
        flex: 1;
      }
      p {
        font-size: 1em;
        line-height: 1.6em;
      }
    }
  }

  .site-footer {
    padding: 1em 0;
    &:before {
      display: none;
    }
    .footer-content{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      .footer-content-left {
        flex-direction: row;
        align-items: center;
      }
    }
    .site-info {
      white-space: nowrap;
      margin: 0 2em;
    }
    .footer-logo {
      width: 125px;
      flex-shrink: 0;
    }
  }

  /*--------------------------------*\
    Apply Page > 43em
  \*--------------------------------*/

  .caldera-grid {
    .cf-uploader-trigger {
      //margin-left: 10px;
    }
    .apply-checkboxes {
      .checkbox-inline {
        display: inline-block;
        margin: 0;
        margin-right: 1.5em
      }
      .checkbox-inline+.checkbox-inline {
        margin-left: 0;
        margin-right: 1.5em
      }
    }
  }


}

@media only screen and (min-width: 50em) {
  #recent-artists {
    .recent-artist {
      width: 25%;
    }
  }
  .footer-apply {
    white-space: nowrap;
  }
  #recent-artists-list {
    .recent-artist {
      width: 25%;
    }
  }
}

@media only screen and (min-width: 62em) {
  .single-artist {
    #recent-artists {
      .recent-artist {
        width: calc(100% / 6);
        &:nth-child(5), &:nth-child(6) {
          display: block;
        }
      }
    }
  }
}
